{% extends "base.html" %} 
{% load static %} 

{% block title %}Список постов{%endblock title %} 

{% block content %}
{% if posts %}
<h2 class="text-body-primary custom-title">Список постов</h2>
{% for post in posts %}
<div class="card bg-light mb-3">
  <h2><a href='{% url "post_info" post.id %}'>{{ post.title }}</a></h2>
  <p>{{ post.text }}</p>
  <small class="created_at">{{ post.created_at|date:"d.m.y" }}</small>
  <a href="{% url 'post_update' post.id %}" class="btn-up btn-warning">Редактировать</a>
</div>
{% endfor %} {% else %}
<p>Постов ещё нет</p>
{% endif %}
{% endblock content %}
